body{
    background-image: url("../IMAGES/bgprof.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.column{
    display: flex;
    flex-direction: row;
}

.title{
    font-size: 55px; 
    margin: 1%;
    text-align: center;
}

.ah{
    width: 15%;
    float: right;
}

.slidercontainer{
    width: 70%;
    height: 400px;    
    float: right;
    margin-right: auto;
    margin-left: auto;
    margin-top: -180px;

}

.slidercontainer img{
    margin: -80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
    min-height: 400px;
    width: auto;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content{
    margin:10px;
    width: 85%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}

.content p{
    font-size: 25px;
    padding: 20px;
    background-color: rgba(250, 245, 245, .4);
    margin-right: auto;
    margin-left: auto;
}

#return{
    width: 200px;
    margin-bottom: 2%;
    padding-bottom: 50px;    
    float: left;
}

a{
    width: 15%;
}

.left, .right{
    color: white;
}

.description{
    width: 65%;
    text-align: center;
    overflow: auto;
    height: 250px;
}

.description::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.description::-webkit-scrollbar-track {
    background: orange; /* color of the tracking area */
}

.description::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}
  