body{
    margin:0;
    font-family: "HM Sans Regular","HMSansHebrew-Regular","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    background-color: #ffddcc;
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}

.projets{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.projet{
    padding: 20px;
    margin: 20px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.projet img{
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.projet .name{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

a:visited{
    color :black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

#mario{
    background-color: #ffa87f;
}

#clicker{
    background-color: #00e1d9;
}

#restau{
    background-color: #cfbcf9;
}

#hyrule{
    background-color: #b0f2b6;
}

#graven{
    background-color: #ffff4f;
}

#trombi{
    background-color: #ffc0cb;
}

#graven img{
    margin-top:  25%;
}

#hyrule img{
    margin-top: 25%;
}

.description{
    border-style: solid;
    border-width: 1px;
    width: 330px;
    padding: 10px;
    color: black;
}

.welcome{
    font-size: 50px;
    text-align: center;
    text-decoration: overline ;
}

.accueil{
    font-size: x-large;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

.MAJ{
    font-size: 15px;
    padding-left: 15px;
}