body{
    margin:0;
    font-family: "HM Sans Regular","HMSansHebrew-Regular","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    background-color: #ffddcc;
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.projets{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.projet{
    padding: 25px;
    margin: 20px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.projet img{
    width: 350px;
}

.projet .name{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

a:visited{
    color :black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

a:active{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}